{% if page.category == 'art' %}
<div class="col-md-8 col-md-offset-2">
  <h3> More {{page.heading}} Posts </h3>

{% for post in site.categories.art %}

{% if post.url !=page.url %}

<div class="col-md-3 col-sm-4 col-xs-12">

<a class="blog-links" href="{{site.baseurl}}{{ post.url }}">
<img src="{{site.baseurl}}/{{ post.preview-img }}" class="img-responsive" alt="">
<h4 class="title-style">{{ post.title }}</h4>
</a>

<span class="text-muted">{{ post.date | date: "%b %-d, %Y" }} </span>
<p>{{ post.meta}}</p>

</div>



{% endif %}
{% endfor %}


</div>

{% endif %}


{% if page.category == 'literature' %}
<div class="col-md-8 col-md-offset-2">
  <h3> More {{page.heading}} Posts </h3>

{% for post in site.categories.literature %}

{% if post.url !=page.url %}

<div class="col-md-3 col-sm-4 col-xs-12">

<a class="blog-links" href="{{site.baseurl}}{{ post.url }}">
<img src="{{site.baseurl}}/{{ post.preview-img }}" class="img-responsive" alt="">
<h4 class="title-style">{{ post.title }}</h4>
</a>

<span class="text-muted">{{ post.date | date: "%b %-d, %Y" }} </span>
<p>{{ post.meta}}</p>

</div>



{% endif %}
{% endfor %}


</div>


{% endif %}
